In [11]:
#![Revenue](Images/revenue-per-lead.jpg)

#In this activity, you are tasked with creating a Python script for analyzing the financial records of your company. 
#You will be provided with a financial dataset in this file: [budget_data.csv](PyBank/Resources/budget_data.csv). 
#This dataset is composed of two columns, Date and Profit/Losses. 
#(Thankfully, your company has rather lax standards for accounting, so the records are simple.)
#Your task is to create a Python script that analyzes the records to calculate each of the following:

import pandas as pd
from pathlib import Path

budget_data = Path("Resources/budget_data.csv")

budget_dataframe = pd.read_csv(budget_data)
budget_dataframe.head()


# """Argument: 
# df=[]
# for 
# total_profits =    profit=sum(total_profit),
# total_losses =     losses=sum(total_losses),

# average_change_profit =
# average_change_losses =

# greatest_increase_profits =
# greatest_decrease_profits ="""
#* The net total amount of Profit/Losses over the entire period.

#* The average of the changes in Profit/Losses over the entire period.

#* The greatest increase in profits (date and amount) over the entire period.

#* The greatest decrease in losses (date and amount) over the entire period.

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [23]:
#* The total number of months included in the dataset.
#budget_dataframe.count()
total_months=len(budget_dataframe)

In [24]:
#The net total amount of Profit/Losses over the entire period.
net_total=budget_dataframe["Profit/Losses"].sum()

In [15]:
#The average of the changes in Profit/Losses over the entire period
budget_dataframe.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [17]:
budget_dataframe["difference"]=budget_dataframe["Profit/Losses"].diff()
budget_dataframe.head()

       Date  Profit/Losses  difference
0  Jan-2010         867884         NaN
1  Feb-2010         984655    116771.0
2  Mar-2010         322013   -662642.0
3  Apr-2010         -69417   -391430.0
4  May-2010         310503    379920.0

In [25]:
budget_mean=budget_dataframe["difference"].mean()

In [26]:
#The greatest increase in profits (date and amount) over the entire period.
budget_maximum=budget_dataframe["difference"].max()

In [27]:
#The greatest decrease in losses (date and amount) over the entire period.
budget_min=budget_dataframe["difference"].min()

In [28]:
file_output=Path('Analysis.txt')

In [30]:
with open(file_output,"w") as file:  
    file.write(f'Financial Analysis')     
    file.write(f'  ----------------------------')
    file.write(f'Total Months: {total_months}')
    file.write(f'Total: ${net_total}')
    file.write(f'Average  Change: {net_total}')
# file.write(f'Greatest Increase in Profits: Feb-2012 ($1926159)
#   Greatest Decrease in Profits: Sep-2013 ($-2196167)